[Unit]
Description=SSH tunnel, config %I
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=ssh -o TCPKeepAlive=no -o ExitOnForwardFailure=yes -o ConnectTimeout=15 -o ServerAliveInterval=30 -o ServerAliveCountMax=3 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -N -R ${remote_port}:localhost:${destination_port} -i ${identityfile} ${remote_user}@${remote_host}
EnvironmentFile=/etc/ssh-remote/ssh-remote.%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
